* {
  margin: 0;
  padding: 0;
  font-family: "Google Sans", sans-serif;
  box-sizing: border-box;
}
 .nav-bar {
    height: 60px;
}
.nav-bar > img {
    position: relative;
    top: 6px;
    margin-left: 10px;
}
.nav-bar > h3 {
    margin-left: 114px;
    margin-top: -30px;
}
.fa-bars {
    position: relative;
    margin-left: 30px;
    top : -10px;
}
.search-box {
    border: 0px;
    margin-left: 200px;
    background-color: white;
    /* height: 50px; */
    width: 200px;
    margin-top: -33px;
}
.search-box > img {
    height: 35px;
    width: 35px;
    margin-left: 60px;
    background-color: rgba(0, 0, 0, 0.1);
}
.box {
    border: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 50px;
    color: rgba(255,255,255,.87);
    width: 710px;
    margin-left: 50px;
    position: relative;
    top: -42px;
    border-radius: 10px;
    font-family:  open sans;
    font-size: 16px;
    border-color: white;
}
.refresh > img {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: white;
    margin-left: 1125px;
    top: -73px;
}
.pause > img {
    position: relative;
    height: 23px;
    width: 23px;
    background-color: white;
    margin-left: 1170px;
    top: -97px;
}
.setting > img {
    position: relative;
    height: 23px;
    width: 23px;
    background-color: white;
    margin-left: 1220px;
    top: -123px;
}
.apps-icon > img{
    position: relative;
    height: 23px;
    width: 23px;
    background-color: white;
    margin-left: 1300px;
    top: -150px;
} 
.img-icon > img{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: white;
    margin-left: 1350px;
    top: -180px;
    border-radius: 20px;
}
hr {
    position: relative;
    margin-bottom: -500px;
}
.left-buttons {
    margin-top: 6px;
}
.note-button {
    height: 50px;
    width: 300px;
    border-radius: 50px;
    margin-left: -20px ;
    border: 0ch;
    background-color: white;
}
.remainder-button {
    height: 50px;
    width: 300px;
    border-radius: 50px;
    margin-left: -20px ;
    border: 0ch;
    background-color: white;
}
.edit-button {
    height: 50px;
    width: 300px;
    border-radius: 50px;
    margin-left: -20px ;
    border: 0ch;
    background-color: white;
}
.archive-button {
    height: 50px;
    width: 300px;
    border-radius: 50px;
    margin-left: -20px ;
    border: 0ch;
    background-color: white;
}
.trash-button {
    height: 50px;
    width: 300px;
    border-radius: 50px;
    margin-left: -20px ;
    border: 0ch;
    background-color: white;
}
.note-button > h3 {
    font-weight: bold;
    font-size: 15px;
    font-weight: 500rem;
    margin-left: -54px;
    margin-top: -20px;
}
 .remainder-button > h3 {
     font-weight: bold;
    font-size: 15px;
    font-weight: 500rem;
    margin-left: -20px;
    margin-top: -23px;
}
.edit-button > h3 {
    font-weight: bold;
    font-size: 15px;
    font-weight: 500rem;
    margin-left: -64px;
    margin-top: -23px;
}
.archive-button > h3 {
    font-weight: bold;
    font-size: 15px;
    font-weight: 500rem;
    margin-left: -35px;
    margin-top: -22px;
}
.trash-button > h3 {
    font-weight: bold;
    font-size: 15px;
    font-weight: 500rem;
    margin-left: -50px;
    margin-top: -20px;
} 
.note-button > img {
    height: 24px;
    width: 24px;
    margin-left: -180px;
}
.remainder-button > img {
    height: 24px;
    width: 24px;
     margin-left: -180px;
}
.edit-button > img {
    height: 24px;
    width: 24px;
     margin-left: -180px;
}
.archive-button > img {
    height: 24px;
    width: 24px;
     margin-left: -180px;
}
.trash-button > img {
    height: 24px;
    width: 24px;
     margin-left: -180px;
}
.note-button:hover {
    background-color : #f2f2f2; 
    border-color: #f2f2f2;
}
.remainder-button:hover {
    background-color : #f2f2f2;
    border-color: #f2f2f2;
}
.edit-button:hover {
    background-color : #f2f2f2;
    border-color: #f2f2f2;
}
.archive-button:hover {
    background-color : #f2f2f2;
    border-color: #f2f2f2;
}
.trash-button:hover {
    background-color : #f2f2f2;
    border-color: #f2f2f2;
}
li {
    list-style: none;
}
.get-text{
    position: absolute;
}
.get-text textarea{
    padding: 10px 10px;
    font-size: 1rem;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    margin-top: 30px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
}
.modalBox{
   position: relative;
    top: 100px;
    width: 100%;
    height: 100%;
} 
.modalPopup{
    position: absolute;
}
.modalBox,.modalBox .modalPopup{
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
    position: relative;
}
.modalBox.show,.modalBox.show .modalPopup{
    opacity: 1;
    pointer-events: auto;
}
.modalBox .modalPopup .modalContent{
    margin-top: -48px;
    width: 600px;
    height: 130px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
}   

.modalBox .modalPopup input,textarea{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    padding: 10px 10px;
    font-size: 1rem;
    overflow: hidden;
    border: 0;

}
.note{
    box-shadow:0 3px 5px rgba(0,0,0,0.2) ;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    border: 0;
}
 .note .content{
    overflow-wrap: break-word;
 }
.editPopup textarea{
    width: 300px;
    height: 50px;
    border: 2px solid ;
    display: flex;
    align-items: center;
    justify-content:center;
}
#closeBtn {
    color: gray;
    background-color: #f2f2f2;
    border: #f2f2f2;
}
#addBtn {
    color: gray;
    background-color: #f2f2f2;
    border: #f2f2f2;
}
.getTitle {
    border: #f2f2f2;
}
.delete-btn {
    border: #f2f2f2;
    color: gray;
    background-color: #f2f2f2;
}
.edit-btn {
    border: #f2f2f2;
    color: gray;
    background-color: #f2f2f2;
}
